.hudButtonGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 1060px) {
  .hudButtonGroup {
    gap: 7px;
  }
}

@media (max-width: 760px) {
  .hudButtonGroup {
    gap: 6px;
  }
}
